:root {
    font-family: var(--el-font-family);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html, body, #app {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

html {
    --qiuchen-text: rgba(185, 185, 185, 0.5);
    --qiuchen-text-15: rgba(185, 185, 185, 0.15);
    --qiuchen-hover-text: rgba(0, 0, 0, 0.35);
    --qiuchen-normal-white: rgba(0, 0, 0, 0);
    --qiuchen-normal-black: rgba(0, 0, 0, 1);
    --qiuchen-white-50: rgba(0,0,0,.5);
    --qiuchen-black-50: rgba(255,255,255,.5);
    --white:white;
    --black:black;
}

html.dark {
    /* 自定义深色背景颜色 */
    --qiuchen-text: rgba(215, 215, 215, 0.5);
    --qiuchen-text-15: rgba(215, 215, 215, 0.15);
    --qiuchen-hover-text: rgb(255, 255, 255, .8);
    --qiuchen-normal-white: rgba(255, 255, 255, 0);
    --qiuchen-normal-black: rgba(255, 255, 255, 1);
    --qiuchen-white-50: rgba(255,255,255,.5);
    --qiuchen-black-50: rgba(0,0,0,.5);
    --white:black;
    --black:white;
}